*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section, #red{
    height: 100vh;
    background-color: red;
    position: relative;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-size: 50px;

}
#yellow .container{
    color: green;
}
.container img{

    max-width: 100%;
    display: block;
    margin: auto;
}
.container h1{
    text-align: center;
}