*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sezioni con 100vh */
section{
    height: 100vh;
    width: 100%;
    position: relative;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
/* conenitore immagine e testo */
.container{
    font-family: 'Inconsolata', monospace;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-size: 50px;
    font-weight: 900;
/*     border: solid white; */
}
#yellow .container{
    color: green;
}
.container img{
    display: block;
    margin: auto;
/*     border: solid black; */
}
.container h1{
/*     border: solid blue; */
    text-align: center;
}